#Import standard packages

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

#The code cell below shows how to read the csv file.

In [2]:
avi_df = pd.read_csv('AviationData.csv', encoding= 'ISO-8859-1')
avi_df

c:\Users\user\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

Next, we run df.info() on our data which helps us to identify the data types in each column of our data, it also shows the number of rows and columns and also we'll get to know which columns contain missing values.
We can also run df.isna().sum() which helps identify the number of missing values in each column.

In [3]:
avi_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [4]:
# From this output we are able to tell that our data contains 88889 rows and 31 columns.
# The data contains a total of 88889  entries and from our columns we are able to tell that there are missing values but in columns index (0-3) there are no missing values since they all have a total of 88889 entries unlike the rest.
#Our data contains 26 columns with categorical data indicated by Ddtype object and 5 coulumns with numerical or continuous data indicated by Ddtye float64.

In [5]:
avi_df.isna().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

In [6]:
#From the above information we are able to see the specific number of missing value in each column and we'll be able to figure out how to deal with the missing values in each column. Those with a large number of missing values can be dropped and those with less can easily be replaced.

In [7]:
avi_df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
88884    False
88885    False
88886    False
88887    False
88888    False
Length: 88889, dtype: bool

In [8]:
#The above function helps check whether our data has duplicated values which is indicated by the boolean value True. In our case the boolean value False shows that our data contains valid values.

In [63]:
#In this cell I was running .value_counts function in various columns to get the unique values and know what to replace the missing values with especially in categorical columns depending on which appeared most.
#avi_df['Location'].value_counts()
# avi_df['Country'].value_counts()
# avi_df['Make'].value_counts()
# avi_df['Model'].value_counts()
#avi_df['Airport.Name'].value_counts()
#avi_df['Registration.Number'].value_counts()

Next, we deal with eliminating our missing values in each column.
For categorical columns with less missing values, we can fill in with the most common value that appears in that column using the function Mode.
For less missing values in numerical columns we can use mean or median.
For columns with a large number of missing values we use drop  method.

In [ ]:
avi_df['Location'].fillna(avi_df['Location'].mode()[0],inplace=True)
avi_df['Country'].fillna(avi_df['Country'].mode()[0],inplace=True)
avi_df['Make'].fillna(avi_df['Make'].mode()[0],inplace=True)
avi_df['Model'].fillna(avi_df['Model'].mode()[0],inplace=True)
avi_df['Airport.Name'].fillna(avi_df['Airport.Name'].mode()[0],inplace=True)

In [ ]:
avi_df['Report.Status'].fillna('Unknown', inplace=True)
avi_df['Amateur.Built'].fillna('Unknown', inplace=True)
avi_df['Registration.Number'].fillna('Unknown',inplace=True)
avi_df['Total.Fatal.Injuries'].fillna(avi_df['Total.Fatal.Injuries'].median(), inplace=True)
avi_df['Total.Serious.Injuries'].fillna(avi_df['Total.Serious.Injuries'].median(), inplace=True)
avi_df['Total.Minor.Injuries'].fillna(avi_df['Total.Minor.Injuries'].median(), inplace=True)

In [49]:
# avi_df.drop(columns=['Air.carrier'], inplace = True)
# avi_df.drop(columns=['FAR.Description'], inplace = True)
# avi_df.drop(columns=['Aircraft.Category'], inplace = True)
# avi_df.drop(columns=['Longitude'], inplace = True)
# avi_df.drop(columns=['Latitude'], inplace = True)

In [60]:
avi_df.dropna(inplace=True)
avi_df.isna().sum()

Event.Id                  0
Investigation.Type        0
Accident.Number           0
Event.Date                0
Location                  0
Country                   0
Airport.Code              0
Airport.Name              0
Injury.Severity           0
Aircraft.damage           0
Registration.Number       0
Make                      0
Model                     0
Amateur.Built             0
Number.of.Engines         0
Engine.Type               0
Purpose.of.flight         0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Weather.Condition         0
Broad.phase.of.flight     0
Report.Status             0
Publication.Date          0
dtype: int64

In [ ]:
#from the above information we can tell there are no missing values in our data compared to the same code that we had run initially.
#We can also run df.shape in our data to see how may columns and rows have remained after cleaning our data.

In [ ]:
avi_df.shape #we have 23996 rows and 25 clumns remaining.

(23996, 25)

In [ ]:
avi_df.info() #all our columns have a total of 23996 entries hence no missing values.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23996 entries, 8 to 63911
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                23996 non-null  object
 1   Investigation.Type      23996 non-null  object
 2   Accident.Number         23996 non-null  object
 3   Event.Date              23996 non-null  object
 4   Location                23996 non-null  object
 5   Country                 23996 non-null  object
 6   Airport.Code            23996 non-null  object
 7   Airport.Name            23996 non-null  object
 8   Injury.Severity         23996 non-null  object
 9   Aircraft.damage         23996 non-null  object
 10  Registration.Number     23996 non-null  object
 11  Make                    23996 non-null  object
 12  Model                   23996 non-null  object
 13  Amateur.Built           23996 non-null  object
 14  Number.of.Engines       23996 non-null  float64
 15  Engine.Type             23996 non-null  object
 16  Purpose.of.flight       23996 non-null  object
 17  Total.Fatal.Injuries    23996 non-null  float64
 18  Total.Serious.Injuries  23996 non-null  float64
 19  Total.Minor.Injuries    23996 non-null  float64
 20  Total.Uninjured         23996 non-null  float64
 21  Weather.Condition       23996 non-null  object
 22  Broad.phase.of.flight   23996 non-null  object
 23  Report.Status           23996 non-null  object
 24  Publication.Date        23996 non-null  object
dtypes: float64(5), object(20)
memory usage: 4.8+ MB